/* Universal */
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}

/* TopNav */
.topnav {
  background-color: #0d1b2a;
  position: fixed;
  overflow: hidden;
  z-index: 5;
  width: 100%;
}

.topnav img {
  float: left;
  height: 54px;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.0625rem;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #e0e1dd;
  color: #000;
}

.topnav a:active {
  background-color: #778da9;
  color: #fff;
}

.topnav .icon {
  display: none;
}
/* The Modal  */
/* login / sign up */ 
.topnav button {
  padding: 14px 20px;
  font-size: 1.0625rem;
  background-color: #415a77;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 8px 0;
}

.topnav .login,
.topnav .sign-up {
  float: right;
  width: auto;
  margin: 0;
}

.topnav .login {
  margin-left: 2px;
}

.topnav button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
  font-weight: bold;
}

span.psw a {
    float: right;
    text-decoration: underline;
    padding: 0;
    margin-left: 5px;
}

span.psw a:hover {
    background: none;
    text-decoration: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 50%;
}

.close {
  position: absolute; 
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.terms  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.terms a {
  padding: 2px;
}

.terms a:hover {
  background: none;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* media query  topnav  */
@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(2)) {
    display: none;
  }
  .topnav button {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav img {
    display: none;
  }
}
/* Add Responsive Class function */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e0e1dd;
    color: #000;
  }
  .topnav.responsive a,
  .topnav.responsive button {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive button {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


/* Header  */
/* Banner  */
.banner {
  background-image: url("./images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(13, 27, 42, 0.842);
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.banner-content {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.banner-content h1 {
  letter-spacing: 1rem;
  padding: 10px;
  color: #fff;
}

.banner-content p {
  font-weight: 400;
  font-style: italic;
}